
/* 		Overall Styling 	*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,400);

*:hover {
	text-decoration: none !important;
}

.left {
	text-align: left;
}

.center, .middle {
	text-align: center;
}

.right {
	text-align: right;
}

* {

	font-family: 'Lato', sans-serif;
}



/* 		Name Top Styling 	*/
.top {
	color: #fff;
	background: url(../img/top.gif) no-repeat;
	text-align: center;
}

.bottom {
	color: #fff;
	background: url(../img/top.gif) center center no-repeat;
	min-height: 150px;
	text-align: center;
	margin-bottom: -1px;
}

.bottom > div > div > div > h3 {
	border: 2px solid white;
	border-radius: 4px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 300; 
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing:3px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.top > div > div > div > h1 {
	border: 2px solid white;
	border-radius: 4px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 300; 
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing:3px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.color-grey {
	background-color: #222;
}


.navbar-default {
	background-color: #f8f8f8;
	border-color: #FFFFFF;
	margin-top: -43px;
	border-width: 0px;
}

.portfolio > div > h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

nav.navbar-collapse.collapse.cl-effect-5 {
	margin-left: 12%;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
}

#pageContent > div > div > h3 {
	font-size: 25px;
	font-weight: 300;
	color: #555;
}

#pageContent > div > div > h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
}



.item > blockquote > div > div> i, .item > blockquote > div > div> i:before {
	color: #999;
	font-weight: 300;
	font-size: 15px;
}




/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  	background: none;
  	color: #999;
  	font-size: 2.3em;
  	text-shadow: none;
  	margin-top: -15px;
  	margin-right: -70px;
	margin-left: -70px;
}


.carousel-control {
width: 19%;
padding: 50px;
}

/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
    color: #555;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}














/* Every Day Crap*/

ul
{
    list-style-type: none;
}
li {
    display: inline-block;
    padding-left: 10px;
}

body {
  
  /* Stops people selecting stuff on site*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Icon */

.icon {
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}

.icon.circle {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 0;
	border-radius: 100%;
	display: inline-block;
	font-size: 3.25em;
	height: 2.25em;
	left: 0;
	line-height: 2.25em;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 2.25em;
}

	.icon.circle:hover {
		top: -0.2em;
	}

	.icon.circle.fa-twitter {
		background: #70aecd;
		color: white;
	}

		.icon.circle.fa-twitter:hover {
			background: #7fb7d2;
		}

	.icon.circle.fa-stack-overflow {
		background: #F47920;
		color: white;
	}

		.icon.circle.fa-stack-overflow:hover {
			background: #F38C41;
		}

	.icon.circle.fa-envelope-o {
		background: #db6b67;
		color: white;
	}

		.icon.circle.envelope-o:hover {
			background: #E79491;
		}

	.icon.circle.fa-github {
		background: #dcad8b;
		color: white;
	}

		.icon.circle.fa-github:hover {
			background: #e1b89b;
		}

	.icon.circle.fa-steam {
		background: #000000;
		color: white;
	}

		.icon.circle.fa-steam:hover {
			background: #474747;
		}

.icon.feature {
	cursor: default;
	display: block;
	margin: 0 0 1.5em 0;
	opacity: 0.35;
	text-align: center;
}

	.icon.feature:before {
		font-size: 5em;
		line-height: 1em;
	}

.icon > .label {
	display: none;
}